.inline-block {
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.logo {
    width: 60px;
    margin: 10px auto;
    text-align: left;
    padding: 0 10px 10px;
    text-align: center;
}

.logo img {
    width: 65px;
}

.nav {
    width: 60%;
    padding: 1%;
    background-color: #D9D9D9;
    color: black;
}

ul {
    margin-right: auto;
}

.herolmg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 40px auto;
    text-align: center;
    background-color: #f5f5f5;
    padding: 0 40px 40px;
}

.content img {
    width: 200px;
}

footer {
    background-color: #D9D9D9;
    color: black;
    
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}